<nav class="navbar bg-primary">
  <h1 class="logo">
    <a routerLink="/">Photo Gallery</a>
  </h1>

  <ul>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a routerLink="/home">Photos</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/home/favorites">Favorites</a>
    </li>
    <li routerLinkActive="active" class="logout">
      <a (click)="logout()">
        <span class="logout-btn">Log out</span>
        <mat-icon>logout</mat-icon>
      </a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
