.search-container {
  max-width: 800px;
  margin: auto;
}

.search-input {
  width: calc(100% - 100px); /* Adjust width to account for button */
  padding: 8px;
  font-size: 16px;
  margin-right: 10px;
}

.search-button {
  width: 80px;
  padding: 8px;
  font-size: 16px;
  cursor: pointer;
}

.photo-results {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.photo-item {
  flex: 1 1 calc(33% - 10px);
}

.photo-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.no-results {
  margin-top: 10px;
  color: red;
}
